.notselected{
    width: 100px;
    height: 100px;
    background-color: grey;
}
.selected{
    width: 100px;
    height: 100px;
    background-color: green;
}
.root{
    gap:20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}